.b_input::placeholder {
  font-family: "YourFontName", sans-serif;
  font-size: 16px;
  font-style: italic; /* optional */
  color: #888; /* optional */
}
li {
  font-family: "YourFontName", sans-serif;
  font-size: 16px;
}

.strip_bg {
  /* background-color: #fef8f5; */
  min-height: 100vh;
  background-color: var(--bg-color);
  --bg-color: #fef8f5;
  --stripe-color: #fcf1ed;
  --stripe-width: 20px;
  --stripe-gap: 68px;
  --stripe-angle: -45deg;

  /* vertical repeating stripes */
  background-image: repeating-linear-gradient(
    var(--stripe-angle),
    var(--stripe-color) 0 calc(var(--stripe-width)),
    transparent calc(var(--stripe-width)) calc(var(--stripe-gap))
  );
  /* ensure it doesn't scroll weird on small screens */
  background-attachment: fixed;
}

.image-7.blog-image {
  mix-blend-mode: multiply;
}

.transparent-black {
  mix-blend-mode: lighten;
}

.section-9 .w--current {
  color: #d5212a;
  border-bottom: 1px solid #d5212a;
}

.section-9 .w--current div {
  color: #d5212a;
}

.accordion {
  border-bottom: none;
}

.accordion:last-child {
  border-bottom: 1px solid #b7b7b7;
}

.accordion:hover:not(.active) {
  /* background-color: rgb(250, 249, 249); */
  color: #d5212a;
}

.accordion_trigger {
  margin-left: 10px;
}
